@page "/{culture}/DisposableLink"
@model LearningPortal.WebApp.Pages.Auth.Login.DisposableLinkModel

@{
    ViewData["Title"] = Localizer["DisposableLink"];
    Layout = "~/Pages/Shared/_AuthLayout.cshtml";
}

<div class="card shadow-none border-0 ml-auto mr-auto login-card">
    <div class="card-body rounded-0 text-left">
        <h1>@ViewData["Title"]</h1>
        <div>
            <div class="alert alert-danger">
                @Html.Raw(Model.Message)
            </div>
        </div>
    </div>
</div>