@page "/{culture}/Members"
@model LearningPortal.WebApp.Pages.Home.MembersModel
@{
    Layout = "~/Pages/Shared/_UserLayout.cshtml";
}

<div class="middle-sidebar-bottom">
    <div class="middle-sidebar-left">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-follower">
                    <a href="#" class="follower-more"><i class="ti-more text-grey-500 font-xs"></i></a>
                    <a href="#" class="ml-auto mr-auto rounded-lg overflow-hidden d-inline-block">
                        <img src="https://via.placeholder.com/100x100.png" alt="icon" class="p-0 w100 shadow-xss">
                    </a>
                    <h4 >
                        Aliqa Macale
                        <i class="ti-check"></i>
                    </h4>
                    <p class="fw-600 font-xssss text-grey-500 mt-0 mb-2">support@gmail.com</p>
                    <div class="clearfix"></div>
                    <span class="font-xssss fw-600 text-grey-500 d-inline-block">Desinger</span>
                    <span class="dot ml-2 mr-2 d-inline-block btn-round-xss bg-grey"></span>
                    <span class="font-xssss fw-600 text-grey-500 d-inline-block">PHP</span>
                    <span class="dot ml-2 mr-2 d-inline-block btn-round-xss bg-grey"></span>
                    <span class="font-xssss fw-600 text-grey-500 d-inline-block">HTML5</span>

                    <ul>
                        <li><h4 class="fw-700 font-md">500+ <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Connections</span></h4></li>
                        <li><h4 class="fw-700 font-md">88.7 k <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Follower</span></h4></li>
                        <li><h4 class="fw-700 font-md">1,334 <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Followings</span></h4></li>
                    </ul>
                    <a href="#" class="mt-3 p-0 btn p-2 lh-24 w100 ml-1 ls-3 d-inline-block rounded-xl bg-current font-xsssss fw-700 ls-lg text-white">FOLLOW</a>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-follower">
                    <a href="#" class="follower-more"><i class="ti-more text-grey-500 font-xs"></i></a>
                    <a href="#" class="ml-auto mr-auto rounded-lg overflow-hidden d-inline-block">
                        <img src="https://via.placeholder.com/100x100.png" alt="icon" class="p-0 w100 shadow-xss">
                    </a>
                    <h4 >John Steere <i class="ti-check font-xssss btn-round-xs bg-success text-white ml-1"></i></h4>
                    <p class="fw-600 font-xssss text-grey-500 mt-0 mb-2">support@gmail.com</p>
                    <div class="clearfix"></div>
                    <span class="font-xssss fw-600 text-grey-500 d-inline-block ml-1">Desinger</span>
                    <span class="dot ml-2 mr-2 d-inline-block btn-round-xss bg-grey"></span>
                    <span class="font-xssss fw-600 text-grey-500 d-inline-block ml-1">PHP</span>
                    <span class="dot ml-2 mr-2 d-inline-block btn-round-xss bg-grey"></span>
                    <span class="font-xssss fw-600 text-grey-500 d-inline-block ml-1">HTML5</span>

                    <ul>
                        <li><h4 class="fw-700 font-md">500+ <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Connections</span></h4></li>
                        <li><h4 class="fw-700 font-md">88.7 k <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Follower</span></h4></li>
                        <li class="list-inline-item text-center"><h4 class="fw-700 font-md">1,334 <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Followings</span></h4></li>
                    </ul>
                    <a href="#" class="mt-3 p-0 btn p-2 lh-24 w100 ml-1 ls-3 d-inline-block rounded-xl bg-current font-xsssss fw-700 ls-lg text-white">FOLLOW</a>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-follower">
                    <a href="#" class="follower-more"><i class="ti-more text-grey-500 font-xs"></i></a>
                    <a href="#" class="ml-auto mr-auto rounded-lg overflow-hidden d-inline-block">
                        <img src="https://via.placeholder.com/100x100.png" alt="icon" class="p-0 w100 shadow-xss">
                    </a>
                    <h4 >Mohannad Zitoun <i class="ti-check font-xssss btn-round-xs bg-success text-white ml-1"></i></h4>
                    <p class="fw-600 font-xssss text-grey-500 mt-0 mb-2">support@gmail.com</p>
                    <div class="clearfix"></div>
                    <span class="font-xssss fw-600 text-grey-500 d-inline-block ml-1">Desinger</span>
                    <span class="dot ml-2 mr-2 d-inline-block btn-round-xss bg-grey"></span>
                    <span class="font-xssss fw-600 text-grey-500 d-inline-block ml-1">PHP</span>
                    <span class="dot ml-2 mr-2 d-inline-block btn-round-xss bg-grey"></span>
                    <span class="font-xssss fw-600 text-grey-500 d-inline-block ml-1">HTML5</span>

                    <ul>
                        <li><h4 class="fw-700 font-md">500+ <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Connections</span></h4></li>
                        <li><h4 class="fw-700 font-md">88.7 k <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Follower</span></h4></li>
                        <li><h4 class="fw-700 font-md">1,334 <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Followings</span></h4></li>
                    </ul>
                    <a href="#" class="mt-3 p-0 btn p-2 lh-24 w100 ls-3 d-inline-block rounded-xl bg-current font-xsssss fw-700 ls-lg text-white">دنبال کردن</a>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-follower">
                    <a href="#" class="follower-more"><i class="ti-more text-grey-500 font-xs"></i></a>
                    <a href="#" class="ml-auto mr-auto rounded-lg overflow-hidden d-inline-block">
                        <img src="https://via.placeholder.com/100x100.png" alt="icon" class="p-0 w100 shadow-xss">
                    </a>
                    <h4 >Stephen Grider <i class="ti-check font-xssss btn-round-xs bg-success text-white ml-1"></i></h4>
                    <p class="fw-600 font-xssss text-grey-500 mt-0 mb-2">support@gmail.com</p>
                    <div class="clearfix"></div>
                    <span class="font-xssss fw-600 text-grey-500 d-inline-block ml-1">Desinger</span>
                    <span class="dot ml-2 mr-2 d-inline-block btn-round-xss bg-grey"></span>
                    <span class="font-xssss fw-600 text-grey-500 d-inline-block ml-1">PHP</span>
                    <span class="dot ml-2 mr-2 d-inline-block btn-round-xss bg-grey"></span>
                    <span class="font-xssss fw-600 text-grey-500 d-inline-block ml-1">HTML5</span>

                    <ul>
                        <li><h4 class="fw-700 font-md">500+ <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Connections</span></h4></li>
                        <li><h4 class="fw-700 font-md">88.7 k <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Follower</span></h4></li>
                        <li class="list-inline-item text-center"><h4 class="fw-700 font-md">1,334 <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Followings</span></h4></li>
                    </ul>
                    <a href="#" class="mt-3 p-0 btn p-2 lh-24 w100 ml-1 ls-3 d-inline-block rounded-xl bg-current font-xsssss fw-700 ls-lg text-white">FOLLOW</a>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-follower">
                    <a href="#" class="follower-more"><i class="ti-more text-grey-500 font-xs"></i></a>
                    <a href="#" class="ml-auto mr-auto rounded-lg overflow-hidden d-inline-block">
                        <img src="https://via.placeholder.com/100x100.png" alt="icon" class="p-0 w100 shadow-xss">
                    </a>
                    <h4 >Hendrix Stamp <i class="ti-check font-xssss btn-round-xs bg-success text-white ml-1"></i></h4>
                    <p class="fw-600 font-xssss text-grey-500 mt-0 mb-2">support@gmail.com</p>
                    <div class="clearfix"></div>
                    <span class="font-xssss fw-600 text-grey-500 d-inline-block ml-1">Desinger</span>
                    <span class="dot ml-2 mr-2 d-inline-block btn-round-xss bg-grey"></span>
                    <span class="font-xssss fw-600 text-grey-500 d-inline-block ml-1">PHP</span>
                    <span class="dot ml-2 mr-2 d-inline-block btn-round-xss bg-grey"></span>
                    <span class="font-xssss fw-600 text-grey-500 d-inline-block ml-1">HTML5</span>

                    <ul>
                        <li><h4 class="fw-700 font-md">500+ <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Connections</span></h4></li>
                        <li><h4 class="fw-700 font-md">88.7 k <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Follower</span></h4></li>
                        <li class="list-inline-item text-center"><h4 class="fw-700 font-md">1,334 <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Followings</span></h4></li>
                    </ul>
                    <a href="#" class="mt-3 p-0 btn p-2 lh-24 w100 ml-1 ls-3 d-inline-block rounded-xl bg-current font-xsssss fw-700 ls-lg text-white">FOLLOW</a>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-follower">
                    <a href="#" class="follower-more"><i class="ti-more text-grey-500 font-xs"></i></a>
                    <a href="#" class="ml-auto mr-auto rounded-lg overflow-hidden d-inline-block">
                        <img src="https://via.placeholder.com/100x100.png" alt="icon" class="p-0 w100 shadow-xss">
                    </a>
                    <h4 >Kimberley Kelly <i class="ti-check font-xssss btn-round-xs bg-success text-white ml-1"></i></h4>
                    <p class="fw-600 font-xssss text-grey-500 mt-0 mb-2">support@gmail.com</p>
                    <div class="clearfix"></div>
                    <span class="font-xssss fw-600 text-grey-500 d-inline-block ml-1">Desinger</span>
                    <span class="dot ml-2 mr-2 d-inline-block btn-round-xss bg-grey"></span>
                    <span class="font-xssss fw-600 text-grey-500 d-inline-block ml-1">PHP</span>
                    <span class="dot ml-2 mr-2 d-inline-block btn-round-xss bg-grey"></span>
                    <span class="font-xssss fw-600 text-grey-500 d-inline-block ml-1">HTML5</span>

                    <ul>
                        <li><h4 class="fw-700 font-md">500+ <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Connections</span></h4></li>
                        <li><h4 class="fw-700 font-md">88.7 k <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Follower</span></h4></li>
                        <li class="list-inline-item text-center"><h4 class="fw-700 font-md">1,334 <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Followings</span></h4></li>
                    </ul>
                    <a href="#" class="mt-3 p-0 btn p-2 lh-24 w100 ml-1 ls-3 d-inline-block rounded-xl bg-current font-xsssss fw-700 ls-lg text-white">FOLLOW</a>
                </div>
            </div>


        </div>
    </div>
    <div class="middle-sidebar-right scroll-bar">
        <div class="middle-sidebar-right-content">

            <div class="card overflow-hidden subscribe-widget p-3 mb-3 rounded-xxl border-0">
                <div class="card-body p-2 d-block text-center bg-no-repeat bg-image-topcenter" style="background-image: url(images/user-pattern.png);">
                    <a href="#" class="position-absolute right-0 mr-4"><i class="feather-edit text-grey-500 font-xs"></i></a>
                    <figure class="avatar ml-auto mr-auto mb-0 mt-2 w90"><img src="https://via.placeholder.com/100x100.png" alt="image" class="float-right shadow-sm rounded-circle w-100"></figure>
                    <div class="clearfix"></div>
                    <h2 class="text-black font-xss lh-3 fw-700 mt-3 mb-1">Hendrix Stamp</h2>
                    <h4 class="text-grey-500 font-xssss mt-0"><span class="d-inline-block bg-success btn-round-xss m-0"></span> Available</h4>
                    <div class="clearfix"></div>
                    <div class="col-12 text-center mt-4 mb-2">
                        <a href="#" class="p-0 ml-1 btn btn-round-md rounded-xl bg-lightblue"><i class="text-current ti-comment-alt font-sm"></i></a>
                        <a href="#" class="p-0 ml-1 btn btn-round-md rounded-xl bg-lightblue"><i class="text-current ti-lock font-sm"></i></a>
                        <a href="#" class="p-0 btn p-2 lh-24 w100 ml-1 ls-3 d-inline-block rounded-xl bg-current font-xsssss fw-700 ls-lg text-white">FOLLOW</a>
                    </div>
                    <ul>
                        <li><h4 class="fw-700 font-md">500+ <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Connections</span></h4></li>
                        <li><h4 class="fw-700 font-md">88.7 k <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Follower</span></h4></li>
                        <li class="list-inline-item text-center"><h4 class="fw-700 font-md">1,334 <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Followings</span></h4></li>
                    </ul>

                    <div class="col-12 pl-0 mt-4 text-left">
                        <h4 class="text-grey-800 font-xsss fw-700 mb-3 d-block">My Skill <a href="#"><i class="ti-angle-right font-xsssss text-grey-700 float-right "></i></a></h4>
                        <div class="carousel-card owl-carousel owl-theme overflow-visible nav-none">
                            <div class="item"><a href="#" class="btn-round-xxxl border bg-greylight"><img src="https://via.placeholder.com/50x50.png" alt="icon" class="p-3"></a></div>
                            <div class="item"><a href="#" class="btn-round-xxxl border bg-greylight"><img src="https://via.placeholder.com/50x50.png" alt="icon" class="p-3"></a></div>
                            <div class="item"><a href="#" class="btn-round-xxxl border bg-greylight"><img src="https://via.placeholder.com/50x50.png" alt="icon" class="p-3"></a></div>
                            <div class="item"><a href="#" class="btn-round-xxxl border bg-greylight"><img src="https://via.placeholder.com/50x50.png" alt="icon" class="p-3"></a></div>
                            <div class="item"><a href="#" class="btn-round-xxxl border bg-greylight"><img src="https://via.placeholder.com/50x50.png" alt="icon" class="p-3"></a></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card theme-light-bg overflow-hidden rounded-xxl border-0 mb-3">
                <div class="card-body d-flex justify-content-between align-items-end p-4">
                    <div>
                        <h4 class="font-xsss text-grey-900 mb-2 d-flex align-items-center justify-content-between mt-2 fw-700">
                            Dark Mode
                        </h4>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input dark-mode-switch" id="darkmodeswitch">
                        <label class="custom-control-label bg-success" for="darkmodeswitch"></label>
                    </div>

                </div>
            </div>

            <div class="card overflow-hidden subscribe-widget p-3 mb-3 rounded-xxl border-0">
                <div class="card-body d-block text-left">
                    <h1 class="text-grey-800 font-xl fw-900 mb-4 lh-3">Sign up for our newsletter</h1>
                    <form action="#" class="mt-3">
                        <div class="form-group icon-input">
                            <i class="ti-email text-grey-500 font-sm"></i>
                            <input type="text" class="form-control mb-2 bg-greylight border-0 style1-input pl-5" placeholder="Enail address">
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="blankCheckbox" value="option1" aria-label="">
                            <label class="text-grey-500 font-xssss" for="blankCheckbox">By checking this box, you confirm that you have read and are agreeing to our terms of use regarding.</label>
                        </div>
                    </form>
                    <ul class="d-flex align-items-center justify-content-between mt-3">
                        <li><a href="#" class="btn-round-md bg-facebook"><i class="font-xs ti-facebook text-white"></i></a></li>
                        <li><a href="#" class="btn-round-md bg-twiiter"><i class="font-xs ti-twitter-alt text-white"></i></a></li>
                        <li><a href="#" class="btn-round-md bg-linkedin"><i class="font-xs ti-linkedin text-white"></i></a></li>
                        <li><a href="#" class="btn-round-md bg-instagram"><i class="font-xs ti-instagram text-white"></i></a></li>
                        <li><a href="#" class="btn-round-md bg-pinterest"><i class="font-xs ti-pinterest text-white"></i></a></li>
                    </ul>
                </div>
            </div>



        </div>
    </div>
    <button class="btn btn-circle text-white btn-neutral sidebar-right">
        <i class="ti-angle-left"></i>
    </button>
</div>