@page "/{culture}/Search"
@model LearningPortal.WebApp.Pages.Home.SearchModel
@{
    Layout = "~/Pages/Shared/_UserLayout.cshtml";
}

<div class="middle-sidebar-bottom">
    <div class="middle-sidebar-left">
        <div class="row">
            <div class="col-lg-12 mb-4">
                <div class="card rounded-xxl p-lg--5 border-0 bg-no-repeat" style=" background-color: #e4f7fe; ">
                    <div class="card-body w-100 p-4">
                        <div class="form-group mt-3 p-3 border-light border p-2 bg-white rounded-lg">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="form-group icon-input mb-0">
                                        <i class="ti-search font-xs text-grey-400"></i>
                                        <input type="text" class="style1-input border-0 pl-5 font-xsss mb-0 text-grey-500 fw-500 bg-transparent" placeholder="Search online courses..">
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group icon-input mb-0">
                                        <i class="ti-package font-xs text-grey-400"></i>
                                        <select class="style1-select bg-transparent border-0 pl-5"> <option value="">All Categories</option><option value="151781441596 ">Fashion</option><option value="139119624252 ">- Men</option><option value="139118313532 ">- Women</option><option value="139360141372 ">Electronics</option><option value="152401903676 ">Home &amp; Garden</option><option value="138866720828 ">- Decor</option><option value="138866917436 ">- Lighting</option></select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <a href="#" class="w-100 d-block btn bg-current text-white font-xssss fw-600 ls-3 style1-input p-0 border-0 text-uppercase ">Search</a>
                                </div>
                            </div>
                        </div>
                        <h4 class="text-grey-500 font-xssss fw-500 ml-1 lh-24"> <b class="text-grey-800 text-dark">Popular Search :</b> Designer, Developer, PHP, HTML, CSS, SCSS </h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 pt-2 mb-4">
                <h2 class="section-title">
                    جستوجو <b>نتایج</b>
                    <span class="fw-500 ml-2 text-grey-500 font-xssss">
                        ( 23 درس پیدا شد )
                    </span>
                    <a href="#">
                        <i class="feather-edit text-grey-500 font-xs"></i>
                    </a>
                </h2>
            </div>

            <div class="col-xl-3 col-xxxl-3 col-lg-6 col-md-6 col-sm-6 mb-4">
                <div class="card course-card p-0 shadow-xss border-0 rounded-lg overflow-hidden mb-4">
                    <div class="card-image w-100 mb-3">
                        <a href="default-course-details.html" class="video-bttn position-relative d-block"><img src="https://via.placeholder.com/400x300.png" alt="image" class="w-100"></a>
                    </div>
                    <div class="card-body pt-0">
                        <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-danger d-inline-block text-danger mr-1">Desinger</span>
                        <span class="card-price"><span class="font-xsssss">$</span> 40</span>
                        <h4 class="fw-700 font-xss mt-3 lh-28 mt-0"><a href="default-course-details.html" class="text-dark text-grey-900">Complete Python Bootcamp From Zero to Hero in Python </a></h4>
                        <h6 class="font-xssss text-grey-500 fw-600 ml-0 mt-2"> 24 Lesson </h6>
                        <ul class="memberlist mt-3 mb-2 ml-0 d-block">
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li class="last-member"><a href="#" class="bg-greylight fw-600 text-grey-500 font-xssss ls-3 text-center">+2</a></li>
                            <li class="student-apply"><a href="#" class="fw-500 text-grey-500 font-xssss">Student apply</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-xxxl-3 col-lg-6 col-md-6 col-sm-6 mb-4">
                <div class="card course-card p-0 shadow-xss border-0 rounded-lg overflow-hidden mb-4">
                    <div class="card-image w-100 mb-3">
                        <a href="default-course-details.html" class="video-bttn position-relative d-block"><img src="https://via.placeholder.com/400x300.png" alt="image" class="w-100"></a>
                    </div>
                    <div class="card-body pt-0">
                        <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-danger d-inline-block text-danger mr-1">Desinger</span>
                        <span class="card-price"><span class="font-xsssss">$</span> 40</span>
                        <h4 class="fw-700 font-xss mt-3 lh-28 mt-0"><a href="default-course-details.html" class="text-dark text-grey-900">Complete Python Bootcamp From Zero to Hero in Python </a></h4>
                        <h6 class="font-xssss text-grey-500 fw-600 ml-0 mt-2"> 24 Lesson </h6>
                        <ul class="memberlist mt-3 mb-2 ml-0 d-block">
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li class="last-member"><a href="#" class="bg-greylight fw-600 text-grey-500 font-xssss ls-3 text-center">+2</a></li>
                            <li class="student-apply"><a href="#" class="fw-500 text-grey-500 font-xssss">Student apply</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-xxxl-3 col-lg-6 col-md-6 col-sm-6 mb-4">
                <div class="card course-card p-0 shadow-xss border-0 rounded-lg overflow-hidden mb-4">
                    <div class="card-image w-100 mb-3">
                        <a href="default-course-details.html" class="video-bttn position-relative d-block"><img src="https://via.placeholder.com/400x300.png" alt="image" class="w-100"></a>
                    </div>
                    <div class="card-body pt-0">
                        <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-danger d-inline-block text-danger mr-1">Desinger</span>
                        <span class="card-price"><span class="font-xsssss">$</span> 40</span>
                        <h4 class="fw-700 font-xss mt-3 lh-28 mt-0"><a href="default-course-details.html" class="text-dark text-grey-900">Complete Python Bootcamp From Zero to Hero in Python </a></h4>
                        <h6 class="font-xssss text-grey-500 fw-600 ml-0 mt-2"> 24 Lesson </h6>
                        <ul class="memberlist mt-3 mb-2 ml-0 d-block">
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li class="last-member"><a href="#" class="bg-greylight fw-600 text-grey-500 font-xssss ls-3 text-center">+2</a></li>
                            <li class="student-apply"><a href="#" class="fw-500 text-grey-500 font-xssss">Student apply</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-xxxl-3 col-lg-6 col-md-6 col-sm-6 mb-4">
                <div class="card course-card p-0 shadow-xss border-0 rounded-lg overflow-hidden mb-4">
                    <div class="card-image w-100 mb-3">
                        <a href="default-course-details.html" class="video-bttn position-relative d-block"><img src="https://via.placeholder.com/400x300.png" alt="image" class="w-100"></a>
                    </div>
                    <div class="card-body pt-0">
                        <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-danger d-inline-block text-danger mr-1">Desinger</span>
                        <span class="card-price"><span class="font-xsssss">$</span> 40</span>
                        <h4 class="fw-700 font-xss mt-3 lh-28 mt-0"><a href="default-course-details.html" class="text-dark text-grey-900">Complete Python Bootcamp From Zero to Hero in Python </a></h4>
                        <h6 class="font-xssss text-grey-500 fw-600 ml-0 mt-2"> 24 Lesson </h6>
                        <ul class="memberlist mt-3 mb-2 ml-0 d-block">
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li class="last-member"><a href="#" class="bg-greylight fw-600 text-grey-500 font-xssss ls-3 text-center">+2</a></li>
                            <li class="student-apply"><a href="#" class="fw-500 text-grey-500 font-xssss">Student apply</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-xxxl-3 col-lg-6 col-md-6 col-sm-6 mb-4">
                <div class="card course-card p-0 shadow-xss border-0 rounded-lg overflow-hidden mb-4">
                    <div class="card-image w-100 mb-3">
                        <a href="default-course-details.html" class="video-bttn position-relative d-block"><img src="https://via.placeholder.com/400x300.png" alt="image" class="w-100"></a>
                    </div>
                    <div class="card-body pt-0">
                        <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-danger d-inline-block text-danger mr-1">Desinger</span>
                        <span class="card-price"><span class="font-xsssss">$</span> 40</span>
                        <h4 class="fw-700 font-xss mt-3 lh-28 mt-0"><a href="default-course-details.html" class="text-dark text-grey-900">Complete Python Bootcamp From Zero to Hero in Python </a></h4>
                        <h6 class="font-xssss text-grey-500 fw-600 ml-0 mt-2"> 24 Lesson </h6>
                        <ul class="memberlist mt-3 mb-2 ml-0 d-block">
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li class="last-member"><a href="#" class="bg-greylight fw-600 text-grey-500 font-xssss ls-3 text-center">+2</a></li>
                            <li class="student-apply"><a href="#" class="fw-500 text-grey-500 font-xssss">Student apply</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-xxxl-3 col-lg-6 col-md-6 col-sm-6 mb-4">
                <div class="card course-card p-0 shadow-xss border-0 rounded-lg overflow-hidden mb-4">
                    <div class="card-image w-100 mb-3">
                        <a href="default-course-details.html" class="video-bttn position-relative d-block"><img src="https://via.placeholder.com/400x300.png" alt="image" class="w-100"></a>
                    </div>
                    <div class="card-body pt-0">
                        <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-danger d-inline-block text-danger mr-1">Desinger</span>
                        <span class="card-price"><span class="font-xsssss">$</span> 40</span>
                        <h4 class="fw-700 font-xss mt-3 lh-28 mt-0"><a href="default-course-details.html" class="text-dark text-grey-900">Complete Python Bootcamp From Zero to Hero in Python </a></h4>
                        <h6 class="font-xssss text-grey-500 fw-600 ml-0 mt-2"> 24 Lesson </h6>
                        <ul class="memberlist mt-3 mb-2 ml-0 d-block">
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li class="last-member"><a href="#" class="bg-greylight fw-600 text-grey-500 font-xssss ls-3 text-center">+2</a></li>
                            <li class="student-apply"><a href="#" class="fw-500 text-grey-500 font-xssss">Student apply</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-xxxl-3 col-lg-6 col-md-6 col-sm-6 mb-4">
                <div class="card course-card p-0 shadow-xss border-0 rounded-lg overflow-hidden mb-4">
                    <div class="card-image w-100 mb-3">
                        <a href="default-course-details.html" class="video-bttn position-relative d-block"><img src="https://via.placeholder.com/400x300.png" alt="image" class="w-100"></a>
                    </div>
                    <div class="card-body pt-0">
                        <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-danger d-inline-block text-danger mr-1">Desinger</span>
                        <span class="card-price"><span class="font-xsssss">$</span> 40</span>
                        <h4 class="fw-700 font-xss mt-3 lh-28 mt-0"><a href="default-course-details.html" class="text-dark text-grey-900">Complete Python Bootcamp From Zero to Hero in Python </a></h4>
                        <h6 class="font-xssss text-grey-500 fw-600 ml-0 mt-2"> 24 Lesson </h6>
                        <ul class="memberlist mt-3 mb-2 ml-0 d-block">
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li class="last-member"><a href="#" class="bg-greylight fw-600 text-grey-500 font-xssss ls-3 text-center">+2</a></li>
                            <li class="student-apply"><a href="#" class="fw-500 text-grey-500 font-xssss">Student apply</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-xxxl-3 col-lg-6 col-md-6 col-sm-6 mb-4">
                <div class="card course-card p-0 shadow-xss border-0 rounded-lg overflow-hidden mb-4">
                    <div class="card-image w-100 mb-3">
                        <a href="default-course-details.html" class="video-bttn position-relative d-block"><img src="https://via.placeholder.com/400x300.png" alt="image" class="w-100"></a>
                    </div>
                    <div class="card-body pt-0">
                        <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-danger d-inline-block text-danger mr-1">Desinger</span>
                        <span class="card-price"><span class="font-xsssss">$</span> 40</span>
                        <h4 class="fw-700 font-xss mt-3 lh-28 mt-0"><a href="default-course-details.html" class="text-dark text-grey-900">Complete Python Bootcamp From Zero to Hero in Python </a></h4>
                        <h6 class="font-xssss text-grey-500 fw-600 ml-0 mt-2"> 24 Lesson </h6>
                        <ul class="memberlist mt-3 mb-2 ml-0 d-block">
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li><a href="#"><img src="https://via.placeholder.com/30x30.png" alt="user" class="w30 d-inline-block"></a></li>
                            <li class="last-member"><a href="#" class="bg-greylight fw-600 text-grey-500 font-xssss ls-3 text-center">+2</a></li>
                            <li class="student-apply"><a href="#" class="fw-500 text-grey-500 font-xssss">Student apply</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="middle-sidebar-right scroll-bar">
        <div class="middle-sidebar-right-content">

            <div class="card overflow-hidden subscribe-widget p-3 mb-3 rounded-xxl border-0">
                <div class="card-body p-2 d-block text-center bg-no-repeat bg-image-topcenter" style="background-image: url(images/user-pattern.png);">
                    <a href="#" class="position-absolute right-0 mr-4"><i class="feather-edit text-grey-500 font-xs"></i></a>
                    <figure class="avatar ml-auto mr-auto mb-0 mt-2 w90"><img src="https://via.placeholder.com/100x100.png" alt="image" class="float-right shadow-sm rounded-circle w-100"></figure>
                    <div class="clearfix"></div>
                    <h2 class="text-black font-xss lh-3 fw-700 mt-3 mb-1">Hendrix Stamp</h2>
                    <h4 class="text-grey-500 font-xssss mt-0"><span class="d-inline-block bg-success btn-round-xss m-0"></span> Available</h4>
                    <div class="clearfix"></div>
                    <div class="col-12 text-center mt-4 mb-2">
                        <a href="#" class="p-0 ml-1 btn btn-round-md rounded-xl bg-lightblue"><i class="text-current ti-comment-alt font-sm"></i></a>
                        <a href="#" class="p-0 ml-1 btn btn-round-md rounded-xl bg-lightblue"><i class="text-current ti-lock font-sm"></i></a>
                        <a href="#" class="p-0 btn p-2 lh-24 w100 ml-1 ls-3 d-inline-block rounded-xl bg-current font-xsssss fw-700 ls-lg text-white">FOLLOW</a>
                    </div>
                    <ul class="list-inline border-0 mt-4">
                        <li class="list-inline-item text-center mr-4"><h4 class="fw-700 font-md">500+ <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Connections</span></h4></li>
                        <li class="list-inline-item text-center mr-4"><h4 class="fw-700 font-md">88.7 k <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Follower</span></h4></li>
                        <li class="list-inline-item text-center"><h4 class="fw-700 font-md">1,334 <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Followings</span></h4></li>
                    </ul>

                    <div class="col-12 pl-0 mt-4 text-left">
                        <h4 class="text-grey-800 font-xsss fw-700 mb-3 d-block">My Skill <a href="#"><i class="ti-angle-right font-xsssss text-grey-700 float-right "></i></a></h4>
                        <div class="carousel-card owl-carousel owl-theme overflow-visible nav-none">
                            <div class="item"><a href="#" class="btn-round-xxxl border bg-greylight"><img src="https://via.placeholder.com/50x50.png" alt="icon" class="p-3"></a></div>
                            <div class="item"><a href="#" class="btn-round-xxxl border bg-greylight"><img src="https://via.placeholder.com/50x50.png" alt="icon" class="p-3"></a></div>
                            <div class="item"><a href="#" class="btn-round-xxxl border bg-greylight"><img src="https://via.placeholder.com/50x50.png" alt="icon" class="p-3"></a></div>
                            <div class="item"><a href="#" class="btn-round-xxxl border bg-greylight"><img src="https://via.placeholder.com/50x50.png" alt="icon" class="p-3"></a></div>
                            <div class="item"><a href="#" class="btn-round-xxxl border bg-greylight"><img src="https://via.placeholder.com/50x50.png" alt="icon" class="p-3"></a></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card theme-light-bg overflow-hidden rounded-xxl border-0 mb-3">
                <div class="card-body d-flex justify-content-between align-items-end p-4">
                    <div>
                        <h4 class="font-xsss text-grey-900 mb-2 d-flex align-items-center justify-content-between mt-2 fw-700">
                            Dark Mode
                        </h4>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input dark-mode-switch" id="darkmodeswitch">
                        <label class="custom-control-label bg-success" for="darkmodeswitch"></label>
                    </div>

                </div>
            </div>

            <div class="card overflow-hidden subscribe-widget p-3 mb-3 rounded-xxl border-0">
                <div class="card-body d-block text-left">
                    <h1 class="text-grey-800 font-xl fw-900 mb-4 lh-3">Sign up for our newsletter</h1>
                    <form action="#" class="mt-3">
                        <div class="form-group icon-input">
                            <i class="ti-email text-grey-500 font-sm"></i>
                            <input type="text" class="form-control mb-2 bg-greylight border-0 style1-input pl-5" placeholder="Enail address">
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="blankCheckbox" value="option1" aria-label="">
                            <label class="text-grey-500 font-xssss" for="blankCheckbox">By checking this box, you confirm that you have read and are agreeing to our terms of use regarding.</label>
                        </div>
                    </form>
                    <ul class="d-flex align-items-center justify-content-between mt-3">
                        <li><a href="#" class="btn-round-md bg-facebook"><i class="font-xs ti-facebook text-white"></i></a></li>
                        <li><a href="#" class="btn-round-md bg-twiiter"><i class="font-xs ti-twitter-alt text-white"></i></a></li>
                        <li><a href="#" class="btn-round-md bg-linkedin"><i class="font-xs ti-linkedin text-white"></i></a></li>
                        <li><a href="#" class="btn-round-md bg-instagram"><i class="font-xs ti-instagram text-white"></i></a></li>
                        <li><a href="#" class="btn-round-md bg-pinterest"><i class="font-xs ti-pinterest text-white"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
