@page "/{culture}/Login/Compo/RecoveryEmailPass"
@model LearningPortal.WebApp.Pages.Auth.Login.Compo.Email.Compo_RecoveryEmailPasswordModel

<form id="FrmRecovery">
    <div class="form-group">
        <i class="ti-email"></i>
        <input asp-for="Input.Email" class="form-control" placeholder="@Html.DisplayNameFor(fn => fn.Input.Email)">
    </div>
</form>

<div class="btns col-sm-12 p-0">
    <div class="form-group mb-1">
        <button onclick="SendForm('/@ViewData["Culture"]/Login/Compo/RecoveryEmailPass','FrmRecovery')" class="form-control text-center style2-input text-white fw-600 bg-dark border-0 p-0 ">تایید هویت</button>
    </div>
    <h6 class="text-grey-500 font-xsss fw-500 mt-0 mb-0 lh-32">ایا حساب کاربری خود را بیاد آوردید؟ <a href="#" onclick="LoadEmailCompo()" class="fw-700">ورود به سایت</a></h6>
</div>