@page "/{culture}/ResetPassword"
@model LearningPortal.WebApp.Pages.Auth.ResetPasswordModel
@{
    Layout="~/Pages/Shared/_AuthLayout.cshtml";
}

<div class="card shadow-none border-0 ml-auto mr-auto login-card">
    <div class="card-body rounded-0 text-left">
        <form asp-antiforgery="true" id="FrmRecovery">
            <input asp-for="Input.Token" type="hidden" />
            <div class="form-group">
                <i class="ti-email"></i>
                <input asp-for="Input.Password" class="form-control" placeholder="@Html.DisplayNameFor(fn => fn.Input.Password)">
            </div>
            <div class="form-group">
                <i class="ti-lock"></i>
                <input asp-for="Input.RetypePassword" class="form-control" placeholder="@Html.DisplayNameFor(fn => fn.Input.RetypePassword)">
            </div>
        </form>

        <div class="btns col-sm-12 p-0">
            <div class="form-group mb-1">
                <button onclick="SendForm('/@ViewData["Culture"]/ResetPassword','FrmRecovery')" class="form-control text-center style2-input text-white fw-600 bg-dark border-0 p-0 ">تغییر کلمه عبور</button>
            </div>
            <h6 class="text-grey-500 font-xsss fw-500 mt-0 mb-0 lh-32">ایا حساب کاربری را به خاطر اوردید؟ <a href="/@ViewData["Culture"]/Login" class="fw-700">ورود به سایت</a></h6>
        </div>
    </div>
</div>

<script>
    function GotoLoginPage() {
        location.href = '/@(CultureInfo.CurrentCulture.Parent.Name)/Login';
    }
</script>
